@charset "UTF-8";

@font-face {
  font-family: "tl-prompt";
  src:url("fonts/tl-prompt.eot");
  src:url("fonts/tl-prompt.eot?#iefix") format("embedded-opentype"),
    url("fonts/tl-prompt.woff") format("woff"),
    url("fonts/tl-prompt.ttf") format("truetype"),
    url("fonts/tl-prompt.svg#tl-prompt") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tl-prompt" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tl-prompt" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\61";
}
.icon-check-form:before {
  content: "\62";
}
.icon-zoom-in-button:before {
  content: "\63";
}
.icon-work-tray:before {
  content: "\64";
}
.icon-wifi-signal-waves:before {
  content: "\65";
}
.icon-web-page-home:before {
  content: "\66";
}
.icon-view-files:before {
  content: "\67";
}
.icon-view-eye-interface-symbol:before {
  content: "\68";
}
.icon-upload:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\6a";
}
.icon-tourist-information:before {
  content: "\6b";
}
.icon-time-left:before {
  content: "\6c";
}
.icon-tick-inside-circle:before {
  content: "\6d";
}
.icon-text-file-document:before {
  content: "\6e";
}
.icon-text-documents:before {
  content: "\6f";
}
.icon-star:before {
  content: "\70";
}
.icon-speedometer-1:before {
  content: "\71";
}
.icon-speed:before {
  content: "\72";
}
.icon-speedometer:before {
  content: "\73";
}
.icon-speech-bubble-with-text-lines:before {
  content: "\74";
}
.icon-share-outline:before {
  content: "\75";
}
.icon-share:before {
  content: "\76";
}
.icon-settings:before {
  content: "\77";
}
.icon-settings-1:before {
  content: "\78";
}
.icon-search-file:before {
  content: "\79";
}
.icon-search:before {
  content: "\7a";
}
.icon-save-file-option:before {
  content: "\41";
}
.icon-rubbish-bin:before {
  content: "\42";
}
.icon-reload:before {
  content: "\43";
}
.icon-refresh:before {
  content: "\44";
}
.icon-reading:before {
  content: "\45";
}
.icon-question-speech-bubble:before {
  content: "\46";
}
.icon-project-charter-for-execution:before {
  content: "\47";
}
.icon-printing-calculator:before {
  content: "\48";
}
.icon-printer:before {
  content: "\49";
}
.icon-preview:before {
  content: "\4a";
}
.icon-plus-div:before {
  content: "\4b";
}
.icon-pencil-edit-button:before {
  content: "\4c";
}
.icon-pencil-1:before {
  content: "\4d";
}
.icon-pdf-file:before {
  content: "\4e";
}
.icon-open-folder-with-document:before {
  content: "\4f";
}
.icon-open-book:before {
  content: "\50";
}
.icon-notepad-and-pencil:before {
  content: "\51";
}
.icon-notepad:before {
  content: "\52";
}
.icon-new-file:before {
  content: "\53";
}
.icon-new-document:before {
  content: "\54";
}
.icon-networking-group:before {
  content: "\55";
}
.icon-musica-searcher:before {
  content: "\56";
}
.icon-mouse:before {
  content: "\57";
}
.icon-message-closed-envelope:before {
  content: "\58";
}
.icon-mathematics:before {
  content: "\59";
}
.icon-man-shape:before {
  content: "\5a";
}
.icon-magnifying-glass-1:before {
  content: "\30";
}
.icon-log-in-button-with-arrow:before {
  content: "\32";
}
.icon-list:before {
  content: "\31";
}
.icon-interface-send-symbol:before {
  content: "\33";
}
.icon-information-circular-button-symbol:before {
  content: "\34";
}
.icon-inbox-interface-symbol:before {
  content: "\35";
}
.icon-icon:before {
  content: "\36";
}
.icon-home:before {
  content: "\37";
}
.icon-history1:before {
  content: "\38";
}
.icon-history:before {
  content: "\39";
}
.icon-health-care:before {
  content: "\21";
}
.icon-halfway:before {
  content: "\22";
}
.icon-floppy-disk-save-file:before {
  content: "\23";
}
.icon-file-export:before {
  content: "\24";
}
.icon-favourite-symbol:before {
  content: "\25";
}
.icon-facebook-logo-in-circular-button-outlined-social-symbol:before {
  content: "\26";
}
.icon-facebook:before {
  content: "\28";
}
.icon-eye-outline:before {
  content: "\27";
}
.icon-eye:before {
  content: "\29";
}
.icon-export-file:before {
  content: "\2a";
}
.icon-excel-file:before {
  content: "\2b";
}
.icon-edit-interface-symbol:before {
  content: "\2c";
}
.icon-edit-interface-sign:before {
  content: "\2d";
}
.icon-edit:before {
  content: "\2e";
}
.icon-duplicate-content:before {
  content: "\2f";
}
.icon-download-1:before {
  content: "\3a";
}
.icon-download:before {
  content: "\3b";
}
.icon-download-2:before {
  content: "\3c";
}
.icon-desktop:before {
  content: "\3d";
}
.icon-delete-photo:before {
  content: "\3e";
}
.icon-contact-form:before {
  content: "\3f";
}
.icon-calendar-with-spring-binder-and-date-blocks:before {
  content: "\40";
}
.icon-calendar-add:before {
  content: "\5b";
}
.icon-bell:before {
  content: "\5d";
}
.icon-chk-list:before {
  content: "\5e";
}
.icon-navigation-history-interface-symbol-of-a-clock-with-an-arrow:before {
  content: "\5f";
}
.icon-logout:before {
  content: "\60";
}
.icon-pencil:before {
  content: "\7b";
}
.icon-checkmark:before {
  content: "\7c";
}
.icon-checkmark-circled:before {
  content: "\7d";
}
.icon-chevron-down:before {
  content: "\5c";
}
.icon-chevron-left:before {
  content: "\e000";
}
.icon-chevron-right:before {
  content: "\e001";
}
.icon-chevron-up:before {
  content: "\e002";
}
.icon-android-arrow-back:before {
  content: "\e003";
}
.icon-android-arrow-down:before {
  content: "\e004";
}
.icon-android-arrow-up:before {
  content: "\e005";
}
.icon-android-arrow-forward:before {
  content: "\e006";
}
.icon-android-arrow-dropup:before {
  content: "\e007";
}
.icon-android-arrow-dropright:before {
  content: "\e008";
}
.icon-android-arrow-dropright-circle:before {
  content: "\e009";
}
.icon-android-arrow-dropup-circle:before {
  content: "\e00a";
}
.icon-android-arrow-dropleft:before {
  content: "\e00c";
}
.icon-android-arrow-dropdown-circle:before {
  content: "\e00d";
}
.icon-android-arrow-dropdown:before {
  content: "\e00e";
}
.icon-android-close:before {
  content: "\e011";
}
.icon-android-done:before {
  content: "\e012";
}
.icon-android-done-all:before {
  content: "\e013";
}
.icon-android-menu:before {
  content: "\e014";
}
.icon-close:before {
  content: "\e015";
}
.icon-close-circled:before {
  content: "\7e";
}
.icon-close-round:before {
  content: "\e016";
}
.icon-ios-arrow-back:before {
  content: "\e017";
}
.icon-ios-arrow-down:before {
  content: "\e018";
}
.icon-ios-arrow-forward:before {
  content: "\e019";
}
.icon-ios-arrow-left:before {
  content: "\e01a";
}
.icon-ios-arrow-right:before {
  content: "\e01b";
}
.icon-ios-arrow-thin-down:before {
  content: "\e01c";
}
.icon-ios-arrow-thin-left:before {
  content: "\e01d";
}
.icon-ios-arrow-thin-right:before {
  content: "\e01e";
}
.icon-ios-arrow-thin-up:before {
  content: "\e01f";
}
.icon-ios-arrow-up:before {
  content: "\e020";
}
.icon-android-arrow-dropleft-circle:before {
  content: "\e00b";
}
.icon-alert-circled:before {
  content: "\e00f";
}
.icon-alert:before {
  content: "\e010";
}
.icon-android-alarm-clock:before {
  content: "\e021";
}
.icon-android-alert:before {
  content: "\e022";
}
.icon-calendar-with-a-clock-time-tools:before {
  content: "\e023";
}
.icon-power:before {
  content: "\e024";
}
.icon-chart:before {
  content: "\e025";
}
.icon-zoom-in:before {
  content: "\e026";
}
.icon-zoom-out:before {
  content: "\e027";
}
.icon-file-search:before {
  content: "\e028";
}
.icon-file-add:before {
  content: "\e029";
}
.icon-paper-search:before {
  content: "\e02a";
}
.icon-member-search:before {
  content: "\e02b";
}
.icon-lead-add:before {
  content: "\e02c";
}
.icon-info:before {
  content: "\e02d";
}
